<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :) Yitzel Arzate
</p>

<div class="form-group col-md-4 col-lg-4">
  <label for="txt-" >Texto:</label>
  <input class="form-control" id="txt" name="txt" required="true" ng-model="Texto" required="required" dig its="digits"
  type="text">

<br/><br/>

  <label for="txt-">Número:</label>
  <input class="form-control" id="num" name="num" required="true" ng-model="Número" required="required" dig its="digits"
  type="number">

  <br/><br/>

  <label for="txt-">Selección:</label>



    <select name="miselect" required>
      <option>opcion 1 </option>
      <option>opcion 2 </option>
      <option>opcion 3 </option>
    </select>
 
    <br/><br/>

    <button type="button" class="btn btn-success">Botón</button>

    
   
</div>